[defaults]

interpreter_python = /usr/bin/python3.10
callback_whitelist = profile_tasks
retry_files_enabled = False
host_key_checking = False
inventory = environments/local
callback_plugins = callbacks
hash_behaviour = merge
gather_timeout = 60
remote_tmp = /tmp

[ssh_connection]
scp_if_ssh = True
